exportPattern("^[[:alpha:]]+")
import(label.switching)
import(foreach)
import(doParallel)
importFrom("grDevices", "topo.colors")
importFrom("graphics", "legend", "matplot")
importFrom("stats", "rbinom", "dbinom", "dpois", "ppois", "rbeta", "rgamma", "runif")
importFrom("utils", "read.table", "write.csv", "write.table")
